.trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  transition: all 0.2s ease;
  pointer-events: none; /* Prevents the trail from interfering with mouse events */
}

.header {
  background-color: rgb(60,179,113);
  color: black;
  text-align: center;
  padding: 10px 0;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  align-items: center;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 0.7); /* Semi-transparent background */
  color: white;
}

.vertical-divider {
  width: 1px; 
  background-color: white;
  margin-left: 10px;
  height: 100%;
}