@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home-container {
  line-height: 1.6;
  background-image: url('/Adventure_Backdrop.png'); /* Adding the background image */
  background-size: cover; /* Ensure it covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 100vh; /* Minimum height to cover the viewport */
  position: relative;
}